.typing-input {
    width: 60vh;
    max-width: 80vh;
    padding: 2vh;
    font-size: 2vh;
    font-family: poppins, sans-serif;
    color: #1ef1d2;
    background-color: #f9f9f9;
    border: 0.4vh solid #ccc;
    border-radius: 2vh;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: inset 0 0.3vh 0.6vh rgba(0, 0, 0, 0.1)
}

.typing-input:hover {
    border-color: #888;
    background-color: #fff;
}

.typing-input:focus {
    border-color: #1ef1d2;
    box-shadow: 0 0 1vh #1ef1d2, inset 0 0.3vh 0.6vh rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Placeholder styling */
.typing-input::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: 1.8vh;
}

/* Optional subtle animation */
.typing-input:focus::placeholder {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}